version: 2.1

# --- Anchor alias ---- #
alias:
# ---- Jobs filters ---- #
  - &filters_only_dev
    branches:
      only: dev
    tags:
      ignore: /.*/
  - &filters_only_branch
    branches:
      ignore:
        - dev
    tags:
      ignore: /.*/

# --- END --- #
# --------------------------------------------------- #
# -------------- DEFINE YOUR WORKFLOW --------------- #
# --------------------------------------------------- #

orbs:
  go: habx/golang@0.11.0

workflows:
  tests:
    jobs:
      - go/static-tests:
          context: golang
          github-config-private-package: false
          filters:
            <<: *filters_only_branch
      - go/tests:
          context: golang
          github-config-private-package: false
          filters:
            <<: *filters_only_branch

  dev:
    jobs:
      - go/static-tests:
          context: golang
          github-config-private-package: false
          filters:
            <<: *filters_only_dev
      - go/tests:
          context: golang
          github-config-private-package: false
          filters:
            <<: *filters_only_dev